/*
 * Application stylesheets
 */

/* Fonts */
@import url('./font/fonts.css');

/* ResumeView */
@import url('./resume/ResumePanel.css');
@import url('./resume/ResumeView.css');

/* HomeView */
@import url('./home/HomePanel.css');
@import url('./home/HomeView.css');

/* Components */
@import url('./components/SlideControl.css');
@import url('./components/NavMenu.css');
@import url('./components/Icon.css');
@import url('./components/Picture.css');
@import url('./components/SkillRating.css');
@import url('./components/Modal.css');

#splash-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background-color: #206D96;
    transition: opacity ease 250ms;

    font-size: 18px;
    color: #FFFFFF;
    line-height: 20vh;
    font-family: 'Lato';
}
#splash-div > div:nth-child(1) {
    position: relative;
    margin: auto;
    height: 300px;
    width: 300px;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(60deg);
}

#splash-div > div:nth-child(1) > span {
    position: absolute;
    border: 3px solid #FFFFFF;
    box-shadow: 0 5px #CCCCCC
                inset 0 5px 0 #CCCCCC;
    box-sizing: border-box;
    border-radius: 50%;
    animation: bounce 5000ms ease-in-out infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateZ(-100px);
    }
    50% {
        transform: translateZ(100px);
    }
}
#splash-div > div:nth-child(1) > span:nth-child(1) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-delay: 0.4s;
}
#splash-div > div:nth-child(1) > span:nth-child(2) {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    animation-delay: 0.3s;
}
#splash-div > div:nth-child(1) > span:nth-child(3) {
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    animation-delay: 0.2s;
}
#splash-div > div:nth-child(1) > span:nth-child(4) {
    top: 45px;
    right: 45px;
    bottom: 45px;
    left: 45px;
    animation-delay: 0.1s;
}
#splash-div > div:nth-child(1) > span:nth-child(5) {
    top: 55px;
    right: 55px;
    bottom: 55px;
    left: 55px;
    animation-delay: 0s;
}

/* Style */
#top-div {
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Lato';
    /* background: linear-gradient( to bottom, 
     hsla(158, 23%, 18%, 0) 0%,
     hsla(158, 23%, 18%, .013) 9.7%, 
     hsla(158, 23%, 18%, .049) 18.1%, 
     hsla(158, 23%, 18%, .104) 25.5%,
     hsla(158, 23%, 18%, .175) 31.9%,
     hsla(158, 23%, 18%, .259) 37.7%,
     hsla(158, 23%, 18%, .352) 43%,
     hsla(158, 23%, 18%, .45) 47.9%,
     hsla(158, 23%, 18%, .55) 52.8%,
     hsla(158, 23%, 18%, .648) 57.7%,
     hsla(158, 23%, 18%, .741) 63%,
     hsla(158, 23%, 18%, .825) 68.7%,
     hsla(158, 23%, 18%, .896) 75%,
     hsla(158, 23%, 18%, .951) 82.2%,
     hsla(158, 23%, 18%, .987) 90.5%,
     hsl(158, 23%, 18%) 100% ); */
}
#top-client-div {
    position: relative;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    transition: background-color 250ms ease;
}
#top-client-div.dark {
    background-color: #242532;
}

#top-client-div > div {
    position: relative;
    overflow: hidden;

    height: 42px;
    line-height: 42px;
    width: 100px;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    opacity: 0.50;
    transition: border, opacity ease 250ms;
}
#top-client-div.dark > div {
    color: #FFFFFF;
}
#top-client-div > div::after {
    content: "";
    width: 75%;
    background-color: var(--background-color1);
    height: 2px;
    left: 50%;
    position: absolute;
    top: calc(100% + -2px);
    transition: all 150ms ease;
    transform: translateX(-175%);
}
#top-client-div.dark > div::after {
    background-color: #86467C;
}

#top-client-div > div.selected {
    opacity: 1;
    color: #000000;
    font-weight: 600;
    pointer-events: none;
}
#top-client-div.dark > div.selected {
    color: #FFFFFF;
}
#top-client-div > div.selected::after {
    transform: translateX(-50%);
}

#top-client-div > div:hover {
    background-color: rgb(53, 54, 74, .20);
}


/* Style clientDiv */
#client-div {
    position: relative;
    overflow: hidden;
    height: 90vh;
    /* max-width: 800px; */
    margin: auto;
}

#client-div:before {
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

#client-div.dark {
    background-color: #020916;
}


/*
 * Hidden
 */

.hidden {
    position: absolute;
    left: -1000px;
}

/*
 * Create variables that can be used throughout the projects stylesheets
 */
body {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    margin: 0;

    /* Buttons */
    --background-color1:        #81A988;
    --background-color1-rgb:      129, 169, 136;
    --background-color2:        #86467C;
    --background-color2-rgb:      134, 70, 124;
    --background-color3:        #D97E59;
    --background-color3-rgb:      217, 126, 89;

    /* Buttons */
    --button-color1:        #0b3948;
    --button-color1-rgb:      39, 174, 96;
    --button-color2:        #206D96;
    --button-color2-rgb:      32, 109, 150;
    --button-color3:        #D97E59;
    --button-color3-rgb:      217, 126, 89;

    --header-1:    clamp(1.875rem, 1.301rem + 2.449vw, 3.95rem);
    --header-2:    clamp(1rem, .9235rem + .3265vw, 1.25rem);

    /* Paragraphs */
    --paragraph-1:    clamp(1rem, .8852rem + .4898vw, 1.375rem);
    --paragraph-2:    12px;

    /* Button/Links */
    --button-3:    clamp(.875rem, .7985rem + .3265vw, 1.125rem);
}

/* body > div:nth-child(1) { */
#splash-div {
    display: none;
    transition: all 0.25s;
    transition-behavior: allow-discrete;
    opacity: 0;
    /* scale: 0; */
    /* width: 0; */
}
/* body > div:nth-child(2) { */
#splash-div.show-splash {
    display: flex;
    transition: all 0.25s;
    transition-behavior: allow-discrete;
    opacity: 1;
    /* scale: 1; */
}
/* body.show-splash > div:nth-child(1) { */
#top-div {
    display: block;
}
#top-div.show-splash {
    display: none;
    opacity: 0;
    scale: 0;
    width: 0;
}


/* ::-webkit-scrollbar {
    display: block;
    background-color: rgb(255, 255, 255, 0);
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 8px;
    transition: background-color 350ms ease;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 255, 255, 0.60);
}
::-webkit-scrollbar-button {
    display: none;
} */

/* Media Queries */
