/*
 * ResumePanel stylesheet
 */

/*
 * Top-Level
 */

 #resume-panel-div {
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--color1);
    box-sizing: border-box;
    padding: 2px;
    background-color: white;
    transition: background-color ease 250ms;
    font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#resume-panel-div.show-element {
    display: block;
}
#resume-panel-div.dark {
    background-color: rgb(53, 54, 74);
    color: white;
    
}
.anchor {
    color: #551A8B
}
.anchor.dark {
    color: antiquewhite;
}

#resume-panel-frame-div {
    display: flex;
    flex-flow: wrap;
    max-width: 800px;
    margin: 12px auto;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 2px;

    background-color: rgb(0, 0, 0, 0.05);
}
#resume-panel-frame-div.dark {
    background-color: rgb(0, 0, 0, 0.25);
}

#resume-panel-frame-div > div:nth-child(1) {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 12px;
    align-items: center;
}
#resume-panel-frame-div > div:nth-child(1) > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: ; */
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 12px;
}
#resume-panel-frame-div > div:nth-child(1) > div:nth-child(1) > img {
    width: 100%;
    /* height: 100%; */
    transform: translateY(7px);
}

#resume-panel-frame-div > div:nth-child(1) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    text-align: left;
    /* margin-bottom: 12px; */
    margin-right: auto;
}
#resume-panel-frame-div > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    font-family: 'Lato';
    font-size: 32px;
    margin-bottom: 6px;
}
#resume-panel-frame-div > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    font-family: 'Josefin';
}

#resume-panel-frame-div > div:nth-child(2) {
    flex: .25;
    padding: 0 8px 0 0;
}
#resume-panel-frame-div > div:nth-child(3) {
    flex: .75;
    padding: 0 4px;
}

#resume-panel-contact-div {
    margin-bottom: 1em;
}
#resume-panel-contact-div > div:nth-child(1) {
    text-align: left;
    line-height: 32px;
    border-bottom: solid black 1px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 600;
}
#resume-panel-contact-div > div:nth-child(1) > div:nth-child(1) {}
#resume-panel-contact-div > :not(:first-child) {
    margin-bottom: 6px;
}

#resume-panel-contact-div > div:nth-child(2) > div:nth-child(2) {
    user-select: all;
}

#resume-panel-contact-div > div:nth-child(2) {
    padding: 4px 0;
}
#resume-panel-contact-div > div:nth-child(3) {
    padding: 4px 0;
}
#resume-panel-contact-div > div:nth-child(4) {
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 0;
    transition: background-color ease 250ms;
}
#resume-panel-contact-div > div:nth-child(4):hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#resume-panel-contact-div > div:nth-child(5) {
    cursor: pointer;
    padding: 4px 0;
    border-radius: 4px;
    transition: background-color ease 250ms;
}
#resume-panel-contact-div > div:nth-child(5):hover {
    background-color: rgba(0, 0, 0, 0.25);
}


#resume-panel-frame-div.dark > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    border-bottom: solid rgb(255, 255, 255, 0.5) 1px;
}
#resume-panel-frame-div.dark > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    border-bottom: solid rgb(255, 255, 255, 0.5) 1px;
}
#resume-panel-frame-div.dark > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
    border-bottom: solid rgb(255, 255, 255, 0.5) 1px;
}
#resume-panel-frame-div.dark > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
    border-bottom: solid rgb(255, 255, 255, 0.5) 1px;
}
#resume-panel-frame-div.dark > div:nth-child(4) > div:nth-child(1) {
    border-bottom: solid rgb(255, 255, 255, 0.5) 1px;
}

#resume-panel-skills-div {}
#resume-panel-skills-div > div:nth-child(1) {
    text-align: left;
    line-height: 32px;
    border-bottom: solid black 1px;
    font-size: 14px;
    font-weight: 600;
    flex-basis: 100%;
}
#resume-panel-skills-div > div:nth-child(1) > div:nth-child(1) {}


#resume-panel-programming-div {
    margin-bottom: .75em;
}
#resume-panel-programming-div > div:nth-child(1) {
    font-size: 12px;
    text-align: left;
    line-height: 24px;

    font-weight: bold;
}
#resume-panel-programming-div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
#resume-panel-programming-div > div:nth-child(2) > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}
#resume-panel-programming-div > div:nth-child(2) > div > div:nth-child(1) {
    font-size: 12px;
}


#resume-panel-os-div {
    margin-bottom: 6px;
    margin-bottom: .75em;
}
#resume-panel-os-div > div:nth-child(1) {
    font-size: 12px;
    text-align: left;
    line-height: 24px;
    font-weight: bold;
}
#resume-panel-os-div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
#resume-panel-os-div > div:nth-child(2) > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

#resume-panel-os-div > div:nth-child(2) > div > div:nth-child(1) {
    font-size: 12px;
}

#resume-panel-tools-div {
    margin-bottom: 6px;
}
#resume-panel-tools-div > div:nth-child(1) {
    font-size: 12px;
    text-align: left;
    line-height: 24px;
    font-weight: bold;
}
#resume-panel-tools-div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
#resume-panel-tools-div > div:nth-child(2) > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}
#resume-panel-tools-div > div:nth-child(2) > div > div:nth-child(1) {
    font-size: 12px;
}


#resume-panel-education-div {
    margin-bottom: 1em;
}
#resume-panel-education-div > div:nth-child(1) {
    line-height: 32px;
    border-bottom: solid black 1px;
    margin-bottom: 12px;
}
#resume-panel-education-div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    display: none;
}
#resume-panel-education-div > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-left: 0;
}

#resume-panel-education-div > div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
#resume-panel-education-div > div:nth-child(2) > div:nth-child(1) {
    flex: .5;
    display: flex;
    flex-direction: column;
}
#resume-panel-education-div > div:nth-child(2) > div:nth-child(1) > div {
    height: 24px;
    white-space: nowrap;
}
#resume-panel-education-div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    margin-bottom: 6px;
}
#resume-panel-education-div > div:nth-child(2) > div:nth-child(2) {
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 24px;
}
#resume-panel-education-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    font-size: 12px;
    text-align: left;
    /* margin-right: 6px; */
    white-space: nowrap;
}
#resume-panel-education-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    font-size: 12px;
    white-space: nowrap;
    font-style: italic;
    font-weight: 500;
}

#resume-panel-education-div > ul:nth-child(3) {
    margin-top: .2em;
    text-align: left;
    font-size: 12px;
    margin-block-end: 0;
}
#resume-panel-education-div > ul:nth-child(3) > li:nth-child(1) {
    margin-bottom: 4px;
}
#resume-panel-education-div > ul:nth-child(3) > li:nth-child(2) {
    margin-bottom: 4px;
}

#resume-panel-professional-div {
    margin-bottom: 1em;
}

#resume-panel-professional-div > div:nth-child(1) {
    line-height: 32px;
    border-bottom: solid black 1px;
    margin-bottom: 12px;
}
#resume-panel-professional-div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    display: none;
}
#resume-panel-professional-div > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-left: 0;
}
#resume-panel-professional-div > div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
#resume-panel-professional-div > div:nth-child(2) > div:nth-child(1) {
    flex: .5;
    display: flex;
    flex-direction: column;
}
#resume-panel-professional-div > div:nth-child(2) > div:nth-child(1) > div {
    height: 24px;
}
#resume-panel-professional-div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    margin-bottom: 6px;
}
#resume-panel-professional-div > div:nth-child(2) > div:nth-child(2) {
    flex: .5;
    line-height: 24px;
    font-size: 12px;
    text-align: right;
    font-style: italic;
}

#resume-panel-professional-div > div:nth-child(3) {
    font-size: 12px;
    text-align: left;
    line-height: 150%;
    width: 95%;
    margin: auto;
}


#resume-panel-project-div {
    flex-basis: 100%;
    margin-top: 12px;
}
#resume-panel-project-div > div:nth-child(1) {
    line-height: 32px;
    border-bottom: solid black 1px;
    margin-bottom: 12px;
}

#resume-panel-project-div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    display: none;
}
#resume-panel-project-div > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-left: 0;
}

#resume-panel-campus-involvement-div {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

#resume-panel-campus-involvement-div > div:nth-child(1) {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
}

#resume-panel-campus-involvement-div > div:nth-child(2) {}

/* SigmaPi */
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(1) {}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    display: flex;
    align-items: center;
    height: 50px;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255, .95);
    height: 34px;
    border-radius: 2px;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img {
    width: 50px;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    font-size: 14px;
    margin-left: 6px;
    text-align: left;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
    margin-left: auto;
    font-size: 12px;
    font-style: italic;
    white-space: nowrap;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(1) > ul:nth-child(2) {
    margin: 0;
    line-height: 125%;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(1) > ul:nth-child(2) > li {
    text-align: left;
    font-size: 12px;
}

#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(2) {}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    align-items: center;
    height: 50px;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255, .95);
    height: 34px;
    border-radius: 2px;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > img {
    width: 50px;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    font-size: 14px;
    margin-left: 6px;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {
    margin-left: auto;
    font-size: 12px;
    font-style: italic;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(2) > ul:nth-child(2) {
    margin: 0;
    line-height: 125%;
}
#resume-panel-campus-involvement-div > div:nth-child(2) > div:nth-child(2) > ul:nth-child(2) > li {
    text-align: left;
    font-size: 12px;
}

#resume-panel-escape-div {
    margin-bottom: 1em;
}
#resume-panel-escape-div > div:nth-child(1) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 6px;
}
#resume-panel-escape-div > div:nth-child(1) > div:nth-child(1) {
    font-size: 18px;
    line-height: 32px;
}
#resume-panel-escape-div > div:nth-child(1) > div:nth-child(2) {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    cursor: pointer;
}
#resume-panel-escape-div > div:nth-child(1) > div:nth-child(2) > img {
    width: 20px;
}
#resume-panel-escape-div > div:nth-child(1) > div:nth-child(3) {
    margin-left: auto;
    font-size: 12px;
}

#resume-panel-escape-div > div:nth-child(2) {
    display: flex;
}
#resume-panel-escape-div > div:nth-child(2) > div:nth-child(1) {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#resume-panel-escape-div > div:nth-child(2) > div:nth-child(1) > img {
    width: 100%;
}
#resume-panel-escape-div > div:nth-child(2) > div:nth-child(2) {
    font-size: 12px;
    line-height: 150%;
    text-align: left;
    margin-left: 24px;
    box-sizing: border-box;
}

#resume-panel-ttb-div {}
#resume-panel-ttb-div > div:nth-child(1) {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 6px;
    align-items: center;
}
#resume-panel-ttb-div > div:nth-child(1) > div:nth-child(1) {
    font-size: 18px;
    line-height: 32px;
}
#resume-panel-ttb-div > div:nth-child(1) > div:nth-child(2) {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#resume-panel-ttb-div > div:nth-child(1) > div:nth-child(2) > img {
    width: 20px;
}
#resume-panel-ttb-div > div:nth-child(1) > div:nth-child(3) {
    margin-left: auto;
    font-size: 12px;
}

#resume-panel-ttb-div > div:nth-child(2) {}
#resume-panel-ttb-div > div:nth-child(2) > div:nth-child(1) {
    font-size: 12px;
    line-height: 150%;
    text-align: left;
}
#resume-panel-ttb-div > div:nth-child(2) > div:nth-child(2) {
    text-align: left;
    margin-top: 12px;
    font-size: 16px;
}
#resume-panel-ttb-div > div:nth-child(2) > div:nth-child(3) {
    text-align: left;
    margin-top: 10px;
    margin-left: 1em;
    font-size: 14px;
}

#resume-panel-ttb-div > div:nth-child(2) > div:nth-child(3) > ul {
    padding-left: 2em;
    line-height: 150%;
}
#resume-panel-ttb-div > div:nth-child(2) > div:nth-child(3) > ul > li {
    font-size: 12px;
}
#resume-panel-ttb-div > div:nth-child(2) > div:nth-child(4) {
    text-align: left;
    margin-left: 1em;
}
#resume-panel-ttb-div > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) {
    text-align: left;
    font-size: 14px;
}
#resume-panel-ttb-div > div:nth-child(2) > div:nth-child(4)  > ul {
    padding-left: 2em;
    font-size: 12px;
    line-height: 150%;
}
#resume-panel-ttb-div > div:nth-child(2) > div:nth-child(4)  > ul > li {}

#resume-panel-mqp-div {
    text-align: left;
}
#resume-panel-mqp-div > div:nth-child(1) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 6px;
}
#resume-panel-mqp-div > div:nth-child(1) > div:nth-child(1) {
    font-size: 18px;
    line-height: 150%;
    max-width: 75%;
}
#resume-panel-mqp-div > div:nth-child(1) > div:nth-child(2) {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#resume-panel-mqp-div > div:nth-child(1) > div:nth-child(2) > img {
    width: 20px;
}
#resume-panel-mqp-div > div:nth-child(1) > div:nth-child(3) {
    margin-left: auto;
    font-size: 12px;
    white-space: nowrap;
    line-height: 54px;
}

#resume-panel-mqp-div > div:nth-child(2) {}
#resume-panel-mqp-div > div:nth-child(2) > div:nth-child(1) {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 12px;
}
#resume-panel-mqp-div > div:nth-child(2) > div:nth-child(2) {
    display: flex;
}
#resume-panel-mqp-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 24px;

    cursor: pointer;

    transition: opacity ease 150ms;
}
#resume-panel-mqp-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1):hover {
    opacity: 0.75;
}
#resume-panel-mqp-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > img {
    width: 100%;
}
#resume-panel-mqp-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#resume-panel-mqp-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > img {
    width: 100%;
}

#resume-panel-iqp-div {
    text-align: left;
    margin-top: 12px;
}
#resume-panel-iqp-div > div:nth-child(1) {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 6px;
    align-items: center;
}
#resume-panel-iqp-div > div:nth-child(1) > div:nth-child(1) {
    font-size: 18px;
    line-height: 32px;
}
#resume-panel-iqp-div > div:nth-child(1) > div:nth-child(2) {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#resume-panel-iqp-div > div:nth-child(1) > div:nth-child(2) > img {
    width: 20px;
}
#resume-panel-iqp-div > div:nth-child(1) > div:nth-child(3) {
    margin-left: auto;
    font-size: 12px;
    white-space: nowrap;
}

#resume-panel-iqp-div > div:nth-child(2) {}
#resume-panel-iqp-div > div:nth-child(2) > div:nth-child(1) {
    font-size: 12px;
    line-height: 150%;
}
#resume-panel-iqp-div > div:nth-child(2) > div:nth-child(2) {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#resume-panel-iqp-div > div:nth-child(2) > div:nth-child(2) > img {
    width: 100%;
}

/* Modals */
.mqp-modal {}
.mqp-modal > div:nth-child(1) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mqp-modal > div:nth-child(1) > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Media Queries */
@media (max-width: 750px) {
    #resume-panel-div {
        padding: 0 12px;
    }
    #resume-panel-frame-div {
        /* display: initial; */
        margin: 0;

        background-color: rgb(0, 0, 0, 0);
    }
    #resume-panel-frame-div > div:nth-child(2) {
        flex: 1;
        padding: 0;
        margin-bottom: 12px;
    }

    #resume-panel-frame-div > div:nth-child(3) {
        flex: 1;
    }
    #resume-panel-professional-div > div:nth-child(3) {
        width: 100%;
    }
}

@media (max-width: 600px) {

    #resume-panel-mqp-div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
        display: none;
    }
}

@media (max-width: 500px) {
    #resume-panel-escape-div > div:nth-child(2) > div:nth-child(1) {
        display: none;
    }
    #resume-panel-escape-div > div:nth-child(2) > div:nth-child(2) {
        margin: 0;
    }

    #resume-panel-education-div > div:nth-child(2) > div:nth-child(2) {
        flex-direction: column;
        align-items: flex-end;
    }
}
