#resume-view-div {
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
  color: var(--color1);
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
#resume-view-div.show-element {
  display: block;
}
