/*
 * HomePanel stylesheet
 */

/*
 * Top-Level
 */

 #home-panel-div {
    position: absolute;
    /* display: none; */
    width: 100%;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: var(--color1);
    box-sizing: border-box;

    transition: background-color ease 250ms;
}
#home-panel-div.show-element {
    display: block;
}

#home-panel-div.dark {
    /* background-color: rgba(53, 54, 74, 1); */
    background-color: #020916;
}

#home-panel-frame-div {
    display: flex;
    flex-direction: column;
}

/* TopDiv */
#home-panel-frame-div > div:nth-child(1) {
    position: relative;
    overflow: hidden;
}

/* mtnSunSvgDiv */
#home-panel-frame-div > div:nth-child(1) > div:nth-child(1) {}
#home-panel-frame-div > div:nth-child(1) > div:nth-child(1) > svg {
    height: 100%;
    width: 100%;
}

/* meDiv */
#home-panel-frame-div > div:nth-child(1) > div:nth-child(2) {
    position: absolute;
    display: flex;
    align-items: center;
    top: 100px;
    left: 50%;
    width: 90%;
    /* max-width: 650px; */
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#home-panel-frame-div > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    overflow: hidden;
    border-radius: 4px;
    filter: drop-shadow(2px 2px 4px #000);

    min-width: 250px;
    /* min-height: 250px; */
    max-height: 250px;
    max-width: 250px;
    margin-right: 2em;
}
#home-panel-frame-div > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > img {
    /* width: 100%; */
    width: 135%;
    -webkit-transform: translate(-12%, 1%);
       -moz-transform: translate(-12%, 1%);
        -ms-transform: translate(-12%, 1%);
         -o-transform: translate(-12%, 1%);
            transform: translate(-12%, 1%);
}
#home-panel-frame-div > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    font-size: var(--paragraph-1);
    color: #FFFFFF;

    background-color: rgb(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 12px;
}

#home-panel-frame-div > div:nth-child(1) > div:nth-child(3) {
    display: none;

    position: absolute;
    bottom: 24px;
    color: white;
    left: 50%;

    font-size: var(--header-2);

    background-color: rgba(81, 11, 14, 0.75);
    padding: 6px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: background-color ease 250ms;
}

#home-panel-frame-div > div:nth-child(1) > div:nth-child(3).dark {
    background-color: rgba(83, 94, 122, 0.5);
}

/* middleDiv */
#home-panel-frame-div > div:nth-child(2) {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 650px;
    margin: auto;
    margin-top: 36px;
}

#home-panel-frame-div > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 45%;
    margin: 16px;
}

#home-panel-frame-div > div:nth-child(2) > div > div:nth-child(1) {
    color: #FF3205;
    font-size: 28px;
    height: 32px;
    transition: color ease 250ms;
}
#home-panel-frame-div.dark > div:nth-child(2) > div > div:nth-child(1) {
    color: rgba(255, 239, 203, 1);
}

#home-panel-frame-div > div:nth-child(2) > div > div:nth-child(2) {
    color: black;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 12px;
    height: 32px;
    transition: color ease 250ms;
}
#home-panel-frame-div.dark > div:nth-child(2) > div > div:nth-child(2) {
    color: #FFFFFF;
}

#home-panel-frame-div > div:nth-child(2) > div > div:nth-child(3) {
    color: black;
    font-size: 16px;
    transition: color ease 250ms;
}
#home-panel-frame-div.dark > div:nth-child(2) > div > div:nth-child(3) {
    color: #FFFFFF;
}

/* moreAboutDiv */
#home-panel-frame-div > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 48px;
    box-sizing: border-box;
    padding: 0 20px;
    transition: color ease 250ms;
}
#home-panel-frame-div.dark > div:nth-child(3) {
    color: #FFFFFF;
}
#home-panel-frame-div > div:nth-child(3) > div:nth-child(1) {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding: 0 12px;
}
#home-panel-frame-div > div:nth-child(3) > div:nth-child(2) {
    font-size: 15px;
    width: 90%;
    margin: auto;
    line-height: 125%;
    text-align: left;
}
#home-panel-frame-div > div:nth-child(3) > div:nth-child(3) {
    font-size: 15px;
    width: 90%;
    margin: auto;
    line-height: 125%;
    text-align: left;
    margin-top: 12px;
}
#home-panel-frame-div > div:nth-child(3) > div:nth-child(4) {
    font-size: 15px;
    width: 90%;
    margin: auto;
    line-height: 125%;
    text-align: left;
    margin-top: 12px;
}

/* bottomDiv */
#home-panel-frame-div > div:nth-child(4) {
    display: flex;
    height: 350px;
    width: 75%;
    justify-content: space-between;
    margin: auto;
}

#home-panel-frame-div > div:nth-child(4) > div:nth-child(1) {
    flex-basis: 45%;
}

#home-panel-frame-div > div:nth-child(4) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
}

#home-panel-frame-div > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) {
    margin-top: 12px;
}

#home-panel-frame-div > div:nth-child(5) {
    position: relative;
    width: 90%;
    display: flex;
    height: 64px;
    border-top: rgb(0, 0, 0, 0.25) solid 2px;
    margin: 15em auto 0;
}
#home-panel-frame-div.dark > div:nth-child(5) {
    border-top: rgb(255, 255, 255, 0.25) solid 2px;
}

/* ReactButton */
#home-panel-frame-div > div:nth-child(5) > div:nth-child(1) {
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(1) > img {
    width: 32px;
    /* background: rgb(var(--background-color3-rgb), 0.75); */
    background-color: rgb(35, 39, 47, 0.75);
    border-radius: 100%;
    padding: 6px;
    cursor: pointer;
    transition: background-color 150ms ease;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(1) > img:hover {
    /* background: rgb(var(--background-color3-rgb), 1); */
    background-color: rgb(35, 39, 47, 1);
}

#home-panel-frame-div > div:nth-child(5) > div:nth-child(1) > img {
    /* background: rgb(var(--background-color2-rgb), 0.75); */
    /* cursor: pointer; */
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(1) > img:hover {
    /* background: rgb(var(--background-color2-rgb), 1); */
    /* background-color: rgb(35, 39, 47, 1); */
}

#home-panel-frame-div > div:nth-child(5) > div:nth-child(1) > div:nth-child(2) {
    position: relative;
    white-space: nowrap;
    /* font-size: 14px; */
    font-size: clamp(1vw, 14px, 14px);
    margin-left: 12px;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(1) > div:nth-child(2)::after {
    content: "";
    position: absolute;

    width: 100%;
    background-color: rgb(0,0,0,0.25);
    height: 2px;
    left: 50%;
    top: calc(100% + -2px);
    transition: all 150ms ease;
    transform: translateX(200%);
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(1):hover > div:nth-child(2)::after {
    transform: translateX(-50%);
}

#home-panel-frame-div.dark > div:nth-child(5) > div:nth-child(1) > div:nth-child(2)::after {
    background-color: rgb(255,255,255,0.25);;
}
#home-panel-frame-div.dark > div:nth-child(5) > div:nth-child(1) > div:nth-child(2) {
    color: white;
}

/* MidFoot */
#home-panel-frame-div > div:nth-child(5) > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(2) > img:nth-child(1) {
    width: 26px;
    padding: 6px;
    cursor: pointer;
    /* transition: background-color 150ms ease; */
    transition: opacity 150ms ease;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(2) > img:nth-child(1):hover {
    /* background-color: rgb(35, 39, 47, 1); */
    opacity: 0.75;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(2) > div:nth-child(2) {
    font-size: 14px;
    border-bottom: rgb(0,0,0, 0.5) 1px solid;
    margin: 0 12px;
}
#home-panel-frame-div.dark > div:nth-child(5) > div:nth-child(2) > div:nth-child(2) {
    color: #FFFFFF;
    border-bottom: rgb(255,255,255, 0.5) 1px solid;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(2) > img:nth-child(3) {
    width: 26px;
    padding: 6px;
    cursor: pointer;
    /* transition: background-color 150ms ease; */
    transition: opacity 150ms ease;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(2) > img:nth-child(3):hover {
    /* background-color: rgb(35, 39, 47, 1); */
    opacity: 0.75;
}

#home-panel-frame-div > div:nth-child(5) > div:nth-child(3) {
    display: flex;
    justify-content: space-around;
    /* width: 150px; */
    margin-left: auto;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(3) > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background-color: #35364A;
    opacity: 0.25;
    border-radius: 100%;
    transition: background-color, opacity ease 250ms;
    margin-right: 24px;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(3) > div:nth-child(1):hover {
    opacity: 0.75;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(3) > div:nth-child(1).selected {
    opacity: 1;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(3) > div:nth-child(1) > img {
    width: 18px;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 36px;
    height: 36px;
    background-color: #81A988;
    cursor: pointer;
    border-radius: 100%;
    opacity: 0.50;
    transition: background-color, opacity ease 250ms;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(3) > div:nth-child(2):hover {
    opacity: 0.75;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(3) > div:nth-child(2).selected {
    opacity: 1;
}
#home-panel-frame-div > div:nth-child(5) > div:nth-child(3) > div:nth-child(2) > img {
    width: 24px;
}


/* Media Queries */

/* Remove text for ReactButton in footer */
@media (max-width: 1035px) {
    #home-panel-frame-div > div:nth-child(5) > div:nth-child(1) > div:nth-child(2) {
        display: none;
    }
}

/* Stack Footer to how react button on own line */
@media (max-width: 650px) {
    #home-panel-frame-div > div:nth-child(5) {
        flex-wrap: wrap;
        padding: 12px;
        height: 86px;
    }
    #home-panel-frame-div > div:nth-child(5) > div:nth-child(1) {
        /* flex-basis: 100%; */
        width: fit-content;
        order: 2;
    }
    #home-panel-frame-div > div:nth-child(5) > div:nth-child(2) {
        position: initial;
        transform: translate(0px, 0px);
        order: 1;
        flex-basis: 100%;
    }
    #home-panel-frame-div > div:nth-child(5) > div:nth-child(3) {
        order: 3;
    }
    #home-panel-frame-div > div:nth-child(5) > div:nth-child(1) > div:nth-child(2) {
        display: block;
    }
}
@media (max-width: 450px) {
    #home-panel-frame-div > div:nth-child(5) > div:nth-child(1) > div:nth-child(2) {
        display: none;
    }
}

@media (min-width: 1000px) {
    #home-panel-frame-div > div:nth-child(1) > div:nth-child(1) > svg > * {
        /* -webkit-transform: translateY(-200px);
           -moz-transform: translateY(-200px);
            -ms-transform: translateY(-200px);
             -o-transform: translateY(-200px);
                transform: translateY(-200px); */
    }

    #home-panel-frame-div > div:nth-child(1) > div:nth-child(3) {
        bottom: calc(24px + 200px);
    }

    /* #home-panel-frame-div > div:nth-child(2) {
        -webkit-transform: translateY(-118px);
           -moz-transform: translateY(-118px);
            -ms-transform: translateY(-118px);
             -o-transform: translateY(-118px);
                transform: translateY(-118px);
    }

    #home-panel-frame-div > div:nth-child(3) {
        -webkit-transform: translateY(-118px);
           -moz-transform: translateY(-118px);
            -ms-transform: translateY(-118px);
             -o-transform: translateY(-118px);
                transform: translateY(-118px);
    }

    #home-panel-frame-div > div:nth-child(4) {
        -webkit-transform: translateY(-118px);
           -moz-transform: translateY(-118px);
            -ms-transform: translateY(-118px);
             -o-transform: translateY(-118px);
                transform: translateY(-118px);
    } */

    #home-panel-frame-div {
        padding: 0;
    }
}

@media (max-width: 650px) {
    #home-panel-frame-div > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        max-width: 200px;
    }
    #home-panel-frame-div > div:nth-child(3) > div:nth-child(1) {
        text-align: left;
    }
}

@media (max-width: 600px) {
    #home-panel-frame-div > div:nth-child(1) {
        height: 400px;
        background-color: rgb(55, 6, 1);
    }
    #home-panel-frame-div.dark > div:nth-child(1) {
        background-color: rgb(37, 41, 60);
    }
    #home-panel-frame-div > div:nth-child(1) > div:nth-child(2) {
        flex-direction: column;
        margin-top: 12px;

        -webkit-transform: translate(-50%, -100px);
           -moz-transform: translate(-50%, -100px);
            -ms-transform: translate(-50%, -100px);
             -o-transform: translate(-50%, -100px);
                transform: translate(-50%, -100px);
    }
    #home-panel-frame-div > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
        font-size: 14px;
    }
    #home-panel-frame-div > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        margin-right: 0px;
    }
    #home-panel-frame-div > div:nth-child(2) > div {
        flex-basis: 75%;
    }
}
