#home-view-div {
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
  font-family: "Josefin";
  color: var(--color1);
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
#home-view-div.show-element {
  display: block;
}

#home-view-title-div {
}
