.picture-div {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 4px;
}

.picture-div > div:nth-child(1) {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  -webkit-transition: filter 250ms;
  transition: filter ease 250ms;
}
.picture-div:hover > div:nth-child(1) {
}
.picture-div.show-text > div:nth-child(1) {
}

.picture-div > div:nth-child(1) > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: filter 250ms;
  transition: filter ease 250ms;
}
.picture-div:hover > div:nth-child(1) > img {
  filter: blur(2px);
}

.picture-div > div:nth-child(2) {
  position: absolute;
  right: 50%;
  bottom: 4px;
  display: block;
  font-size: 14px;
  width: 90%;
  text-align: left;
  color: black;
  background-color: rgb(255, 274, 255, 0.95);
  box-sizing: border-box;
  padding: 4px;
  border-radius: 4%;
  opacity: 0;
  -webkit-transition: opacity ease 250ms;
  transition: opacity ease 250ms;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.picture-div.show-text > div:nth-child(2) {
  opacity: 1;
}

.picture-div:hover > div:nth-child(2) {
  opacity: 1;
}
